9.5.3/vuforia-sdk-ios-9-5-3.zip filter=lfs diff=lfs merge=lfs -text
9.5.3/Vuforia-Core-Samples.unitypackage filter=lfs diff=lfs merge=lfs -text
9.5.3/vuforia-driver-sample-filedriver-9-5-3.zip filter=lfs diff=lfs merge=lfs -text
